$resolvepath: "~";


// Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.dice {
  display: inline-block;
  margin: 10px;
  vertical-align: top;

  pre {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px; // FONDAMENTALE: deve essere uguale al font-size per unire le linee verticali
    background: #fff;
    color: #000;
    border: none; // Togliamo il bordo CSS, usiamo quello ASCII
    padding: 0; // Niente padding interno al pre per non sfasare
    margin: 0;
  }
}